<% layout('./layouts/boilerplate.ejs') %>

<h1 class = "display-6 text-center"><%= team.teamName %></h1>

<div class="card my-3">
    <div class="card-body">
        <h4 class="text-center">Captain</h4>
        <ol>
            <li>Captain: <%= team.name %></li>
            <li>Captain IGN: <%= team.ign %></li>
            <li>Captain UID: <%= team.uid %></li>
        </ol>
    </div>
</div>

<div class="card my-3">
    <div class="card-body">
        <h4 class="text-center">Member 2</h4>
        <ol>
            <li>Member 2: <%= team.p2n %></li>
            <li>Member 2 IGN: <%= team.ign2 %></li>
            <li>Member 2 UID: <%= team.uid2 %></li>
        </ol>
    </div>
</div>

<div class="card my-3">
    <div class="card-body">
        <h4 class="text-center">Member 3</h4>
        <ol>
            <li>Member 3: <%= team.p3n %></li>
            <li>Member 3 IGN: <%= team.ign3 %></li>
            <li>Member 3 UID: <%= team.uid3 %></li>
        </ol>
    </div>
</div>

<div class="card my-3">
    <div class="card-body">
        <h4 class="text-center">Member 4</h4>
        <ol>
            <li>Member 4: <%= team.p4n %></li>
            <li>Member 4 IGN: <%= team.ign4 %></li>
            <li>Member 4 UID: <%= team.uid4 %></li>
        </ol>
    </div>
</div>
