<% layout('./layouts/boilerplate.ejs') %>



    <h1 class="display-6 text-center">
        <%= team.teamName %>
    </h1>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-center display-6">Team Captain</h5>
            <h5 class="card-title">Name: <%= team.name %>
            </h5>
            <h5 class="card-title">IGN: <%= team.ign %>
            </h5>
            <h5 class="card-title">UID: <%= team.uid %>
            </h5>
        </div>
    </div>
    <br>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-center display-6">Player 2</h5>
            <h5 class="card-title">Name: <%= team.p2n %>
            </h5>
            <h5 class="card-title">IGN: <%= team.ign2 %>
            </h5>
            <h5 class="card-title">UID: <%= team.uid2 %>
            </h5>
        </div>
    </div>
    <br>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-center display-6">Player 3</h5>
            <h5 class="card-title">Name: <%= team.p3n %>
            </h5>
            <h5 class="card-title">IGN: <%= team.ign3 %>
            </h5>
            <h5 class="card-title">UID: <%= team.uid3 %>
            </h5>
        </div>
    </div>
    <br>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-center display-6">Player 4</h5>
            <h5 class="card-title">Name: <%= team.p4n %>
            </h5>
            <h5 class="card-title">IGN: <%= team.ign4 %>
            </h5>
            <h5 class="card-title">UID: <%= team.uid4 %>
            </h5>
        </div>
    </div>
    <br>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-center display-6">Player 5</h5>
            <h5 class="card-title">Name: <%= team.p5n %>
            </h5>
            <h5 class="card-title">IGN: <%= team.ign5 %>
            </h5>
            <h5 class="card-title">UID: <%= team.uid5 %>
            </h5>
        </div>
    </div>